git+git://github.com/progrium/gservice.git#egg=gservice
git+git://github.com/progrium/WebSocket-for-Python.git#egg=ws4py
gevent==0.13.3
greenlet==0.3.1
lockfile==0.9.1
nose==1.1.2
python-daemon==1.6
setproctitle==1.1.2
wsgiref==0.1.2
